/* LOADER */

.loader-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #262626;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid #Fff;
    animation: loader 2s infinite ease;
}

.loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(180deg);
    }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes loader-inner {
    0% {
        height: 0%;
    }
    25% {
        height: 0%;
    }
    50% {
        height: 100%;
    }
    75% {
        height: 100%;
    }
    100% {
        height: 0%;
    }
}


/* ================ */

body {
    background: linear-gradient(-100deg, #777 50%, #111 50%);
    height: 70vh;
    font-family: 'Nunito', sans-serif;
}

.container {
    margin-top: 15%;
}

.img-text h2 {
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.img-text p {
    font-size: 14px;
    letter-spacing: 1x;
}

.single-box {
    width: 100%;
    height: 400px;
    padding: 10px 20px;
    margin-bottom: 30px;
    border-radius: 15px;
    background: #262626;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-text {
    text-align: center;
    color: #fff;
}

.img-text button {
    padding: 10px;
    width: 60%;
}

.img-text button:hover {
    font-size: 20px;
}

.img-area {
    display: flex;
    justify-content: center;
    width: 130px;
    height: 130px;
    border: 3px solid #fff;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 20px;
}

.img-area img {
    height: 100%;
}

.carousel-indicators {
    left: 0;
    top: auto;
    bottom: -70px;
    z-index: 0;
}

.carousel-indicators>button {
    /* margin-top: 10%; */
    background: #000;
    border-radius: 50%;
    width: 23px !important;
    height: 2px !important;
    background-color: #fff !important;
    background-clip: unset !important;
    margin-right: 5px !important;
}

.carousel-indicators .active {
    background: #fff;
}


/* Button card */

.btn-card {
    background: rgb(0, 0, 0);
    background: radial-gradient(circle, rgb(20, 20, 20) 0%, rgb(0, 0, 0) 100%);
    line-height: 38px;
    padding: 0px 10px;
    border: none;
    color: #fff;
    font-weight: 600;
    border-radius: 4px;
    transition: 0.5s;
}

.btn-card span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.btn-card:before,
.btn-card:after {
    position: absolute;
    content: "";
    height: 0%;
    width: 1px;
}

.btn-card:before {
    right: 0;
    top: 0;
    transition: all 500ms ease;
}

.btn-card:after {
    left: 0;
    bottom: 0;
    transition: all 500ms ease;
}

.btn-card:hover {
    background: transparent;
    color: #fff;
    font-size: 20px;
    box-shadow: none;
}

.btn-card:hover:before {
    transition: all 500ms ease;
    height: 100%;
}

.btn-card:hover:after {
    transition: all 500ms ease;
    height: 100%;
}

.btn-card span:before,
.btn-card span:after {
    position: absolute;
    content: "";
    margin-top: 5px;
    box-shadow: -1px -1px 20px 0px rgba(255, 255, 255, 1), -4px -4px 5px 0px rgba(255, 255, 255, 1), 7px 7px 20px 0px rgba(0, 0, 0, .4), 4px 4px 5px 0px rgba(0, 0, 0, .3);
}

.btn-card span:before {
    left: 0;
    top: 0;
    width: 0%;
    height: .5px;
    transition: all 500ms ease;
}

.btn-card span:after {
    right: 0;
    bottom: 0;
    width: 0%;
    height: .5px;
    transition: all 500ms ease;
}

.btn-card span:hover:before {
    width: 100%;
}

.btn-card span:hover:after {
    width: 100%;
}


/* =======NUMBER GENERATOR======== */

.number-container {
    margin-top: 15vh;
    width: 60%;
    margin: 0 auto;
    transition-duration: 1s;
}

.generator-card {
    box-shadow: 0 0 30px #000;
    margin-top: 20px;
    height: 670px;
    border-radius: 8px;
    color: #FFF;
    background-color: #262626;
    font-family: 'Nunito', sans-serif;
}

.header-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.header-card h2 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 15px;
    padding: 5px;
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.generator-card hr {
    color: #fff;
    margin: 0 auto;
    width: 70%;
}

.num-card-container>h3 {
    margin-top: 7%;
    text-align: center;
}

.num-card {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}

.num-card input {
    margin-top: 4%;
    font-size: 20px;
    width: 20%;
    text-align: center;
}

.num-card button {
    font-size: 15px;
    width: 130px;
    text-align: center;
}

#startNum {
    margin-right: 20px;
}

.btn-rand {
    margin-top: 7%;
    display: flex;
    text-align: center;
    justify-content: center;
}

#btn_random {
    width: 200px;
}

#btn_random:hover {
    font-size: 30px;
    color: crimson;
    text-shadow: 0 0 30px #000;
}

.num-card-container h1 {
    margin-top: 6%;
    text-align: center;
    line-height: 100px;
    font-size: 70px;
    padding: 15px;
}


/* =======Name GENERATOR======== */

.name-container {
    margin-top: 15vh;
    width: 65%;
    margin: 0 auto;
    transition-duration: 1s;
}

.name-container>.generator-card {
    height: 690px;
}

.name-card-container>h3 {
    margin-top: 3%;
    text-align: center;
}

.name-card-container h4 {
    color: #000;
}

.name-card {
    margin-top: 1.5%;
    margin-bottom: 2%;
    text-align: center;
}

.name-card input,
button {
    outline: none;
}

.name-card input {
    margin-right: 2%;
    font-size: 20px;
    width: 180px;
    text-align: center;
}

.name-card button {
    font-size: 15px;
    width: 110px;
    text-align: center;
}

#name_adder {
    font-size: 14px;
    background: darkgreen;
    text-transform: uppercase;
    transition-duration: 1s;
}

#name_adder:active {
    font-size: 16px;
    color: green;
    background: transparent;
    border: 3px solid green;
}

#name_clear {
    font-size: 14px;
    background: darkred;
    text-transform: uppercase;
    transition-duration: 1s;
}

#name_clear:hover {
    font-size: 16px;
    color: darkred;
    background: transparent;
    border: 3px solid darkred;
}

#name_list {
    width: 50%;
    margin: 0 auto;
    height: 240px;
    background: #FFF;
    overflow: auto;
    text-align: center;
}

.btn-shuffle {
    margin-top: 2%;
    display: flex;
    text-align: center;
    justify-content: center;
}

#btn_shuffle {
    width: 200px;
}

#btn_shuffle:hover {
    font-size: 30px;
    color: crimson;
    text-shadow: 0 0 30px #000;
}

#hr-name {
    margin-top: 1%;
    width: 100%;
    color: #000;
    border: 3px solid #000;
}

#random-name {
    margin-top: 4%;
    text-align: center;
    font-size: 55px;
}


/* ======= RANDOM TEAM GENERATOR======== */


/* .team-container {
    margin-top: 15vh;
    width: 70%;
    margin: 0 auto;
    transition-duration: 1s;
}

.team-generator {
    margin-top: 20px;
}

.team-container>.generator-card {
    height: 700px;
}

.team-card-container h4 {
    color: #000;
}

.team-card-container>h3 {
    margin-top: 1%;
    text-align: center;
}

.team-card {
    margin-top: 1%;
    margin-bottom: 1%;
    text-align: center;
}

.team-card input,
button {
    outline: none;
}

.team-card input {
    margin-right: 2%;
    font-size: 20px;
    width: 180px;
    text-align: center;
}

.team-card button {
    font-size: 15px;
    width: 110px;
    text-align: center;
}

#team_adder {
    font-size: 14px;
    background: darkgreen;
    text-transform: uppercase;
    transition-duration: 1s;
}

#team_adder:active {
    font-size: 16px;
    color: green;
    background: transparent;
    border: 3px solid green;
}

#team_list {
    width: 50%;
    margin: 0 auto;
    height: 165px;
    background: #FFF;
    overflow: auto;
    text-align: center;
}

.btns {
    margin-top: 2%;
    display: flex;
    text-align: center;
    justify-content: center;
}

.btns label {
    outline: none;
    font-size: 17px;
    margin-left: 10px;
    padding: 5px;
    align-self: center;
    text-shadow: 0 0 30px #000;
}

.btns input {
    box-shadow: 0 0 10px #111;
    outline: none;
    border: 1px solid #111;
    margin-left: 10px;
    padding: 5px;
    align-self: center;
    width: 100px;
}

#btn_shuffle {
    width: 200px;
}

#btn_shuffle:hover {
    font-size: 30px;
    color: crimson;
    text-shadow: 0 0 30px #000;
}

#team_clear {
    font-size: 14px;
    background: darkred;
    text-transform: uppercase;
    transition-duration: 1s;
}

#team_clear:hover {
    font-size: 16px;
    color: darkred;
    background: transparent;
    border: 3px solid darkred;
}

#hr-team {
    margin-top: 1%;
    width: 100%;
    color: #000;
    border: 3px solid #000;
}

#random_team {
    height: 200px;
    overflow: auto;
}

#random_team>.teams h1 {
    margin-top: 1%;
    text-align: center;
    text-shadow: 0 0 10px #000;
    font-size: 20px;
}

#random_team>.teams h2 {
    text-align: center;
    text-shadow: 0 0 10px #000;
    font-size: 17px;
} */


/* ======= 1 VS 1 TEAM GENERATOR======== */

.vs-container {
    margin-top: 15vh;
    width: 70%;
    margin: 0 auto;
    transition-duration: 1s;
}

.vs-container>.generator-card {
    height: 700px;
}

.vs-card-container h4 {
    color: #000;
}

.vs-card-container>h3 {
    margin-top: 2%;
    text-align: center;
}

.vs-card {
    margin-top: 1.5%;
    margin-bottom: 2%;
    text-align: center;
}

.vs-card input,
button {
    outline: none;
}

.vs-card input {
    margin-right: 2%;
    font-size: 20px;
    width: 180px;
    text-align: center;
}

.vs-card button {
    font-size: 15px;
    width: 110px;
    text-align: center;
}

#vs_adder {
    font-size: 14px;
    background: darkgreen;
    text-transform: uppercase;
    transition-duration: 1s;
}

#vs_adder:active {
    font-size: 16px;
    color: green;
    background: transparent;
    border: 3px solid green;
}

#vs_list {
    width: 50%;
    margin: 0 auto;
    height: 180px;
    background: #FFF;
    overflow: auto;
    text-align: center;
}

#btn_shuffle {
    width: 200px;
}

#btn_shuffle:hover {
    font-size: 30px;
    color: crimson;
    text-shadow: 0 0 30px #000;
}

#vs_clear {
    font-size: 14px;
    background: darkred;
    text-transform: uppercase;
    transition-duration: 1s;
}

#vs_clear:hover {
    font-size: 16px;
    color: darkred;
    background: transparent;
    border: 3px solid darkred;
}

#hr-vs {
    margin-top: 1%;
    width: 100%;
    color: #000;
    border: 3px solid #000;
}

#random_vs {
    height: 240px;
    overflow: auto;
}

#random_vs>.teams h1 {
    margin-top: 1%;
    text-align: center;
    text-shadow: 0 0 10px #000;
    font-size: 20px;
}

#random_vs>.teams h2 {
    text-align: center;
    text-shadow: 0 0 10px #000;
    font-size: 17px;
}

@media only screen and (max-width: 435px) {
    .loader-wrapper {
        position: fixed;
    }
    .number-container {
        width: 80%;
    }
    .num-card-container>h3 {
        margin-top: 9%;
        margin-bottom: 5%;
    }
    .num-card input {
        margin-top: 8%;
        margin-bottom: 5%;
        width: 30%;
    }
    .num-card-container h1 {
        margin-top: 15%;
    }
    .name-container {
        width: 85%;
    }
    .name-card-container>h3 {
        font-size: 20px;
        margin-top: 4%;
    }
    .name-card {
        margin-top: 3%;
        margin-bottom: 4%;
    }
    .name-card input {
        width: 65%;
    }
    .name-card button {
        margin-top: 5%;
        font-size: 14px;
        width: 35%;
        text-align: center;
    }
    .name-card button:hover {
        font-size: 12px;
    }
    #name_list {
        width: 70%;
        height: 130px;
        margin-bottom: 5%;
    }
    #random-name {
        margin-top: 20%;
    }
    .vs-container {
        width: 85%;
    }
    .vs-card-container>h3 {
        font-size: 20px;
        margin-top: 4%;
    }
    .vs-card {
        margin-top: 3%;
        margin-bottom: 4%;
    }
    .vs-card input {
        width: 65%;
    }
    .vs-card button {
        margin-top: 5%;
        font-size: 14px;
        width: 110px;
        text-align: center;
    }
    .vs-card button:hover {
        font-size: 12px;
    }
    #vs_list {
        width: 70%;
        height: 170px;
        margin-bottom: 5%;
    }
    #vs-name {
        margin-top: 20%;
        /* height: 190px; */
    }
    .vs-container {
        width: 85%;
    }
    #random_vs {
        height: 155px;
    }
}

@media screen and (max-width:300px) {
    #random_vs {
        height: 100px;
    }
}

@media screen and (min-width:300px) and (max-width:451px) {
    #random_vs {
        height: 190px;
    }
    .vs-card button {
        margin-top: 5%;
    }
}

@media screen and (min-width:498px) and (max-width:597px) {
    #random_vs {
        height: 230px;
    }
}

@media screen and (min-width:628px) and (max-width:909px) {
    #random_vs {
        height: 290px;
    }
}

@media screen and (min-width:908px) and (max-width:1295px) {
    #random_vs {
        height: 265px;
    }
}

@media screen and (min-width:500px) {
     ::-webkit-scrollbar {
        width: 5px;
    }
    /* Track */
     ::-webkit-scrollbar-track {
        background: #555;
    }
    /* Handle */
     ::-webkit-scrollbar-thumb {
        background: #111;
    }
    /* Handle on hover */
     ::-webkit-scrollbar-thumb:hover {
        background: #333;
    }
}